<html data-ng-app="gobanApp">
  <head>
    <script src="/javascripts/jquery-2.1.0.js"></script>
    <style>
      .goban { border: 1px solid black; }
      .goban-cell { border: 1px solid black; 
                    width: 30px;
                    height: 30px;}
      .goban-cell #black { background: black; }
      .goban-cell #white { background: white; }
      .goban { background: url('/images/wood.jpg') repeat;
               padding: 15px; }
    </style>
  </head>
  <body>
    <div id="players">
      <p><%= gameData.meta.players.white.name %> <%= gameData.meta.players.white.rank %></p>
      <p><%= gameData.meta.players.black.name %> <%= gameData.meta.players.black.rank %></p>
    </div>
    <div id="goban-container" data-ng-controller="gobanController">
    </div>
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-sanitize.js"></script>
  <script src="/javascripts/gobanApp.js"></script>
  </body>
</html>
