<html>
  <head>
    <script src="javascripts/jquery-2.1.0.js"></script>
  </head>
  <body>
    <form id="uploadForm" action="/upload" enctype="multipart/form-data" method="post">
      <input type="file" name="sgf_file">
      <input type="submit" value="upload">
    </form>
  </body>
</html>
