<html>
  <body>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <input type="file" name="sgf_file">
      <input type="submit" value="upload">
    </form>
  </body>
</html>
